(record {
  log_settings=opt record {
    enable_console=opt true;
    in_memory_records=opt 10000;
    log_filter=opt "__LOG_FILTER__";
  };
  owner=principal "__OWNER__";
  token_storage_canister_id=principal "__TOKEN_STORAGE_CANISTER_ID__";
})
