name: Deploy Backend Canisters

on:
  # For main and staging branches, only trigger on closed PRs
  pull_request:
      paths:
          - "src/token_storage/**"
          - "src/cashier_backend/**"
      branches:
          - main
          - staging
          - dev
      types:
          - closed

# Permissions needed for the GITHUB_TOKEN
permissions:
    actions: write # This allows the workflow to delete workflow runs
    contents: read # Default permission to read the repository contents

jobs:
    setup_environment:
        if: ${{ github.event.pull_request.merged == true }}
        runs-on: ubuntu-latest
        outputs:
            environment: ${{ steps.set-env.outputs.environment }}
        steps:
            - name: Set deployment environment
              id: set-env
              run: |
                  TARGET_BRANCH="${{ github.ref_name }}"
                  echo "Detected branch: $TARGET_BRANCH"

                  if [[ "$TARGET_BRANCH" == "main" ]]; then
                    echo "environment=production" >> $GITHUB_OUTPUT
                  elif [[ "$TARGET_BRANCH" == "staging" ]]; then
                    echo "environment=staging" >> $GITHUB_OUTPUT
                  else
                    echo "environment=dev" >> $GITHUB_OUTPUT
                  fi

    build_and_deploy:
        runs-on: ubuntu-latest
        needs: setup_environment
        environment: ${{ needs.setup_environment.outputs.environment }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install Rust toolchain
              uses: dtolnay/rust-toolchain@stable
              with:
                components: clippy, rustfmt

            - name: Install Just command runner
              uses: extractions/setup-just@v1

            - name: Install dfx
              uses: dfinity/setup-dfx@main
              with: 
                dfx-version: "0.28.0"

            - name: Install ic-wasm
              run: |
                wget https://github.com/dfinity/ic-wasm/releases/download/0.9.3/ic-wasm-linux64 -O /usr/local/bin/ic-wasm
                chmod +x /usr/local/bin/ic-wasm

            - name: Install candid-extractor
              run: |
                wget https://github.com/dfinity/candid-extractor/releases/download/0.1.6/candid-extractor-x86_64-unknown-linux-gnu.tar.gz -O /tmp/candid-extractor-x86_64-unknown-linux-gnu.tar.gz
                tar -xvf /tmp/candid-extractor-x86_64-unknown-linux-gnu.tar.gz -C /usr/local/bin
                chmod +x /usr/local/bin/candid-extractor

            - name: Configure Rust Cache
              uses: swatinem/rust-cache@v2
              if: ${{ (github.event.pull_request.base.ref != 'main') && (github.ref_name != 'main') }}
              with:
                shared-key: ${{ github.repository }}
                save-if: ${{ github.ref_type != 'tag' }}

            - name: Create private key file
              run: |
                  echo "${{ secrets.DEPLOYER }}" > private_key.pem

            # DANGEROUS: This is a plaintext identity import
            - name: Import identity
              run: dfx identity import deployer private_key.pem --storage-mode=plaintext
            # DANGEROUS: Do not echo the private key to the console

            - name: Get dev address
              run: |
                  dfx identity use deployer
                  dfx identity get-principal

            - name: Build and deploy backend canister
              env:
                  DFX_WARNING: -mainnet_plaintext_identity
                  ENVIRONMENT: ${{ needs.setup_environment.outputs.environment }}
              run: |
                  if [[ "$ENVIRONMENT" == "production" ]]; then
                    NETWORK="ic"
                  elif [[ "$ENVIRONMENT" == "staging" ]]; then
                    NETWORK="staging"
                  else
                    NETWORK="dev"
                  fi

                  rustup target add wasm32-unknown-unknown
                  just build_canisters
                  dfx deploy cashier_backend --network ${NETWORK} -y
                  dfx deploy token_storage --network ${NETWORK} -y