name: Deploy Backend Canisters

on:
  # For main and staging branches, only trigger on closed PRs
  pull_request:
      paths:
          - "src/token_storage/**"
          - "src/cashier_backend/**"
      branches:
          - main
          - staging
          - dev
      types:
          - closed
  push:
      branches:
          - sync-staging

# Permissions needed for the GITHUB_TOKEN
permissions:
    actions: write # This allows the workflow to delete workflow runs
    contents: read # Default permission to read the repository contents

jobs:
    setup_environment:
        runs-on: ubuntu-latest
        outputs:
            environment: ${{ steps.set-env.outputs.environment }}
        steps:
            - name: Set deployment environment
              id: set-env
              run: |
                  TARGET_BRANCH="${{ github.ref_name }}"
                  echo "Detected branch: $TARGET_BRANCH"

                  if [[ "$TARGET_BRANCH" == "main" ]]; then
                    echo "environment=production" >> $GITHUB_OUTPUT
                  elif [[ "$TARGET_BRANCH" == "staging" ]]; then
                    echo "environment=staging" >> $GITHUB_OUTPUT
                  else
                    echo "environment=dev" >> $GITHUB_OUTPUT
                  fi

    build_and_deploy:
        runs-on: ubuntu-latest
        needs: setup_environment
        environment: ${{ needs.setup_environment.outputs.environment }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dfx
              uses: dfinity/setup-dfx@main

            - name: Confirm successful installation
              run: dfx --version

            - name: Install Just command runner
              uses: extractions/setup-just@v1

            - name: Create private key file
              run: |
                  echo "${{ secrets.DEPLOYER }}" > private_key.pem

            # DANGEROUS: This is a plaintext identity import
            - name: Import identity
              run: dfx identity import deployer private_key.pem --storage-mode=plaintext
            # DANGEROUS: Do not echo the private key to the console

            - name: Get dev address
              run: |
                  dfx identity use deployer
                  dfx identity get-principal

            - name: Check for changes in token storage
              id: token_storage_changed
              run: |
                  if git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -q '^src/token_storage/'; then
                    echo "changed=true" >> $GITHUB_OUTPUT
                  else
                    echo "changed=false" >> $GITHUB_OUTPUT
                  fi

            - name: Check for changes in backend
              id: backend_changed
              run: |
                  if git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -q '^src/cashier_backend/'; then
                    echo "changed=true" >> $GITHUB_OUTPUT
                  else
                    echo "changed=false" >> $GITHUB_OUTPUT
                  fi

            - name: Set token storage flag
              id: set_token_storage_flag
              run: |
                  if [[ "${{ github.ref_name }}" == "sync-staging" ]]; then
                    echo "TOKEN_STORAGE_CHANGED=true" >> $GITHUB_ENV
                  else
                    if git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -q '^src/token_storage/'; then
                      echo "TOKEN_STORAGE_CHANGED=true" >> $GITHUB_ENV
                    else
                      echo "TOKEN_STORAGE_CHANGED=false" >> $GITHUB_ENV
                    fi
                  fi

            - name: Set backend flag
              id: set_backend_flag
              run: |
                  if [[ "${{ github.ref_name }}" == "sync-staging" ]]; then
                    echo "BACKEND_CHANGED=true" >> $GITHUB_ENV
                  else
                    if git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -q '^src/cashier_backend/'; then
                      echo "BACKEND_CHANGED=true" >> $GITHUB_ENV
                    else
                      echo "BACKEND_CHANGED=false" >> $GITHUB_ENV
                    fi
                  fi

            - name: Build and deploy token storage canister
              if: env.TOKEN_STORAGE_CHANGED == 'true'
              env:
                  DFX_WARNING: -mainnet_plaintext_identity
                  ENVIRONMENT: ${{ needs.setup_environment.outputs.environment }}
              run: |
                  if [[ "$ENVIRONMENT" == "production" ]]; then
                    NETWORK="ic"
                  elif [[ "$ENVIRONMENT" == "staging" ]]; then
                    NETWORK="staging"
                  else
                    NETWORK="dev"
                  fi

                  rustup target add wasm32-unknown-unknown
                  just build_canister "token_storage" "" "token_storage"
                  dfx deploy token_storage --network ${NETWORK}

            - name: Build and deploy backend canister
              if: env.BACKEND_CHANGED == 'true'
              env:
                  DFX_WARNING: -mainnet_plaintext_identity
                  ENVIRONMENT: ${{ needs.setup_environment.outputs.environment }}
              run: |
                  if [[ "$ENVIRONMENT" == "production" ]]; then
                    NETWORK="ic"
                  elif [[ "$ENVIRONMENT" == "staging" ]]; then
                    NETWORK="staging"
                  else
                    NETWORK="dev"
                  fi

                  rustup target add wasm32-unknown-unknown
                  just build_canister "cashier_backend" "" "cashier_backend"
                  dfx deploy cashier_backend --network ${NETWORK}
