name: "Build Test"

on:
  pull_request:
    branches: [main, dev, staging]
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - "**/README.md"
  push:
    branches: [main, dev, staging]
    tags:
      - "v*"
    paths-ignore:
      - "**/README.md"


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  code-check:
    name: Checks the code style
    if: github.event.pull_request.draft == false || github.event_name == 'push'
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Install Just command runner
        uses: extractions/setup-just@v1

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
            node-version: "22.x"

      - name: Configure Rust Cache
        uses: swatinem/rust-cache@v2
        if: ${{ (github.event.pull_request.base.ref != 'main') && (github.ref_name != 'main') }}
        with:
          shared-key: ${{ github.repository }}
          save-if: ${{ github.ref_type != 'tag' }}

      - name: Setup environment
        run: |
          export RUST_BACKTRACE="full"

      - name: Rust - Check code style
        run: |
          just check_code

      - name: Frontend - Check code style
        run: |
          just frontend_check_code

  build-test:
    name: Build and Test
    if: github.event.pull_request.draft == false || github.event_name == 'push'
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
          targets: wasm32-unknown-unknown

      - name: Install Just command runner
        uses: extractions/setup-just@v1

      - name: Install dfx
        uses: dfinity/setup-dfx@main
        with: 
          dfx-version: "0.29.2"

      - name: Install ic-wasm
        run: |
          wget https://github.com/dfinity/ic-wasm/releases/download/0.9.8/ic-wasm-linux64 -O /usr/local/bin/ic-wasm
          chmod +x /usr/local/bin/ic-wasm

      - name: Install candid-extractor
        run: |
          wget https://github.com/dfinity/candid-extractor/releases/download/0.1.6/candid-extractor-x86_64-unknown-linux-gnu.tar.gz -O /tmp/candid-extractor-x86_64-unknown-linux-gnu.tar.gz
          tar -xvf /tmp/candid-extractor-x86_64-unknown-linux-gnu.tar.gz -C /usr/local/bin
          chmod +x /usr/local/bin/candid-extractor

      - name: Configure Rust Cache
        uses: Swatinem/rust-cache@v2
        if: ${{ (github.event.pull_request.base.ref != 'main') && (github.ref_name != 'main') }}
        with:
          shared-key: ${{ github.repository }}
          save-if: ${{ github.ref_type != 'tag' }}

      - name: Setup environment
        run: |
          export RUST_BACKTRACE="full"
         
      - name: Build
        run: |
          just build

      - name: Test
        run: |
          just test_all

  build-test-i686:
    name: Test for the i686 architecture
    if: github.event.pull_request.draft == false || github.event_name == 'push'
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
          targets: i686-unknown-linux-gnu

      - name: Install Just command runner
        uses: extractions/setup-just@v1

      - name: Configure Rust Cache
        uses: Swatinem/rust-cache@v2
        if: ${{ (github.event.pull_request.base.ref != 'main') && (github.ref_name != 'main') }}
        with:
          shared-key: ${{ github.repository }}
          save-if: ${{ github.ref_type != 'tag' }}

      - name: Setup environment
        run: |
          export RUST_BACKTRACE="full"
          sudo apt update
          sudo apt install gcc-multilib

      - name: Test - 32 bits
        run: |
          just test_unit_i686

