name: Deploy all canisters to dev
on:
  pull_request:
      branches:
          - dev
      types:
          - closed

# Permissions needed for the GITHUB_TOKEN
permissions:
  actions: write # This allows the workflow to delete workflow runs
  contents: read # Default permission to read the repository contents

jobs:
  build_and_deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
            node-version: "22"

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
          targets: wasm32-unknown-unknown

      - name: Setup environment
        run: |
          export RUST_BACKTRACE="full"

      - name: Install dfx
        uses: dfinity/setup-dfx@main

      - name: Confirm successful installation
        run: dfx --version

      - name: Install ic-wasm
        run: |
          wget https://github.com/dfinity/ic-wasm/releases/download/0.9.8/ic-wasm-linux64 -O /usr/local/bin/ic-wasm
          chmod +x /usr/local/bin/ic-wasm

      - name: Install candid-extractor
        run: |
          wget https://github.com/dfinity/candid-extractor/releases/download/0.1.6/candid-extractor-x86_64-unknown-linux-gnu.tar.gz -O /tmp/candid-extractor-x86_64-unknown-linux-gnu.tar.gz
          tar -xvf /tmp/candid-extractor-x86_64-unknown-linux-gnu.tar.gz -C /usr/local/bin
          chmod +x /usr/local/bin/candid-extractor

      - name: Install Just command runner
        uses: extractions/setup-just@v1

      - name: Create Deployer private key file
        run: |
          echo "${{ secrets.DEPLOYER }}" > private_key.pem

      # DANGEROUS: This is a plaintext identity import
      - name: Import Deployer identity
        run: dfx identity import deployer private_key.pem --storage-mode=plaintext
      # DANGEROUS: Do not echo the private key to the console

      - name: Get cashier dev address
        run: |
          dfx identity use deployer
          dfx identity get-principal

      - name: Deploy to dev environment
        env:
            DFX_WARNING: -mainnet_plaintext_identity
        run: |
          owner=$(dfx identity get-principal)
          backend_log_filter="global,cashier=debug"
          token_storage_log_filter="global,cashier=debug,token_storage=debug"

          just build dev
          # pass log filters to just dfx_deploy so canisters pick the appropriate level
          just dfx_deploy "$owner" "--network=dev" "$backend_log_filter" "$token_storage_log_filter"