name: Token Storage Deployment

on:
  # For main and staging branches, only trigger on closed PRs
  pull_request:
    paths:
        - "src/token_storage/**"
    branches:
        - main
        - staging
        - dev
    types:
        - closed
  push:
    paths:
        - "src/token_storage/**"
    branches-ignore:
        - main
        - staging

# Permissions needed for the GITHUB_TOKEN
permissions:
    actions: write # This allows the workflow to delete workflow runs
    contents: read # Default permission to read the repository contents

jobs:
    setup_environment:
        runs-on: ubuntu-latest
        outputs:
            environment: ${{ steps.set-env.outputs.environment }}
        steps:
            - name: Set deployment environment
              id: set-env
              run: |
                  TARGET_BRANCH="${{ github.ref_name }}"
                  echo "Detected branch: $TARGET_BRANCH"

                  if [[ "$TARGET_BRANCH" == "main" ]]; then
                    echo "environment=production" >> $GITHUB_OUTPUT
                  elif [[ "$TARGET_BRANCH" == "staging" ]]; then
                    echo "environment=staging" >> $GITHUB_OUTPUT
                  else
                    echo "environment=dev" >> $GITHUB_OUTPUT

    build_and_deploy:
        runs-on: ubuntu-latest
        needs: setup_environment
        environment: ${{ needs.setup_environment.outputs.environment }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dfx
              uses: dfinity/setup-dfx@main

            - name: Confirm successful installation
              run: dfx --version

            - name: Create private key file
              run: |
                  echo "${{ secrets.DEPLOYER }}" > private_key.pem

            - name: Import identity
              run: dfx identity import deployer private_key.pem --storage-mode=plaintext

            - name: Get token storage dev address
              run: |
                  dfx identity use deployer
                  dfx identity get-principal

            - name: Build token storage canister
              run: dfx build token_storage

            - name: Deploy token storage canister
              env:
                  DFX_WARNING: -mainnet_plaintext_identity
                  ENVIRONMENT: ${{ needs.setup_environment.outputs.environment }}
              run: |
                  if [[ "$ENVIRONMENT" == "production" ]]; then
                    NETWORK="ic"
                  elif [[ "$ENVIRONMENT" == "staging" ]]; then
                    NETWORK="staging"
                  else
                    NETWORK="dev"
                  fi

                  dfx deploy token_storage --network ${NETWORK}